.container {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#121212, #212b46);
}

.title {
  font-size: 85px;
  color: #fff;
  animation: flipTitle 2s;
}

@keyframes flipTitle {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

.containerInput {
  border-bottom: 2px solid #f1f1f1;
  margin: 34px 0;
  display: flex;
}

.containerInput input {
  background-color: transparent;
  border: 0;
  font-size: 20px;
  color: #f1f1f1;
  outline: none;
  margin-right: 8px;
}

.containerInput input::placeholder {
  color: #f1f1f1;
}

.buttonSearch {
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.5s;
}

.buttonSearch:hover {
  transform: scale(1.2);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(241, 241, 241, 0.2);
  color: #f1f1f1;
  width: 500px;
  border-radius: 8px;
}

.main h2 {
  margin: 16px 0;
  font-size: 39px;
}

.main span {
  margin-bottom: 16px;
  font-weight: bold;
}

@media (max-width: 750px) {
  .title {
    font-size: 60px;
  }

  .main h2 {
    font-size: 28px;
  }

  .main {
    width: 60%;
    min-height: 250px;
  }
}

@media (max-width: 530px) {
  .title {
    font-size: 50px;
  }

  .main h2 {
    font-size: 25px;
  }

  .main {
    width: 80%;
    min-height: 250px;
  }
}
